<div class="container mx-auto">
    <div class="flex justify-center items-center mx-auto mt-20">
        

        <form  method="post">
            <div class="flex flex-col gap-11">
                <% if (isRegister) { %>
                    <h1 class="text-5xl text-center font-extralight tracking-widest"> REGISTER</h1>
                <% } else {%>
                    <h1 class="text-5xl text-center font-extralight tracking-widest"> LOGIN</h1>
                <% } %>
                <label for="username" class="text-lg">Username</label>
                <input type="text" name="username" id="username" class="w-full p-2 border-2 border-gray-500">
                <label for="password" class="text-lg">Password</label>
                <input type="password" name="password" id="password" class="w-full p-2 border-2 border-gray-500">
                <% if(isRegister == false){ %>
                    <button type="submit" class="w-full p-2 border-2 border-gray-500"> Login</button>
                  <% } else{ %>  
                    <button type="submit" class="w-full p-2 border-2 border-gray-500"> Register </button>
                 <% } %>                
            </div>
        </form>
    </div>
</div>