<div class=" justify-center items-center mx-auto hidden xl:flex"> 
    <a href="<%= points_to %>" class="transition ease-linear hover:scale-125 text-gray-600 text-2xl">
        <% if (up) { %>
            &#8593; 
        <% } else { %>
            &#8595;
        <% } %>
        
    </a>
</div>