<div class="container ">
    <video class="rounded-t-lg" src="media/preview.webm"></video>
    <div class="bg-gray-800 rounded-b-lg">
        <p class="text-white px-2 py-4">
            asd
        </p>
    </div>
</div>