<div class="container ">
    <video class="rounded-t-lg" src="media/preview.webm"></video>
    <div class="bg-slate-800 rounded-b-md drop-shadow-lg">
        <p class="text-white px-2 py-4">
            Neon Fire
        </p>
    </div>
</div>