
<div class="w-32 h-screen  top-0 px-1 flex-col justify-center items-center hidden md:flex" ">

    <a class="text-center w-full text-sm py-4 px-6 h-12 overflow-hidden text-gray-500 text-ellipsis whitespace-nowrap  hover:text-gray-100 hover:bg-gray-400 transition duration-300 ease-in-out" href="#home" data-mdb-ripple="true" data-mdb-ripple-color="dark">
        Home
    </a>
    <a class="text-center w-full text-sm py-4 px-6 h-12 overflow-hidden text-gray-500 text-ellipsis whitespace-nowrap  hover:text-gray-100 hover:bg-gray-400 transition duration-300 ease-in-out" href="#mini_projects" data-mdb-ripple="true" data-mdb-ripple-color="dark">
        Projects
    </a>
    <a class="text-center w-full text-sm py-4 px-6 h-12 overflow-hidden text-gray-500 text-ellipsis whitespace-nowrap  hover:text-gray-100 hover:bg-gray-400 transition duration-300 ease-in-out" href="#!" data-mdb-ripple="true" data-mdb-ripple-color="dark">
        Contact
    </a>
</div>
