<div class="flex flex-row h-screen bg-black">
    <div class="basis-2/3 bg-black">
        <p class="text-white">Haha</p>
    </div>
    <div class="basis-1/3 bg-black clouds ">
        lelele
    </div>
</div>