<div class="overflow-y-scroll w-full">
    <div class="container mx-auto">
        <div class="flex justify-center items-center pt-24 md:pt-44">
            <div class="mr-8 hidden md:block">
                <h1 class="align-bottom text-7xl md:tracking-widerest font-extralight">REWEL</h1>
            </div>
            <img src="media/me.JPG" class="rounded-full h-52 grayscale" alt="">
            <div class="ml-8 hidden md:block">
                <h1 class="text-7xl md:tracking-widerest font-extralight ">CABILES</h1>
            </div>
        </div>
        <div class="">
            <hr class="mx-auto mt-20 z-0 border-black">
        </div>
        <div class="py-24 lg:px-56 md:px-2">
            <div class="flex flex-row mb-5 ">
                <p class="text-5xl font-extralight ml-auto">Hi! Im Rewel!</p>
                <p class="text-5xl animate-bounce mr-auto grayscale" >&#128075;</p>
            </div>
            <p class="text-2xl font-extralight leading-8 text-justify">
                I am a programmer, tech enthusiast, and student at Adamson University! Welcome to my website where I display all my projects both personal and academic.
                Here you will also find my updates and blog posts for each project I make, as well as my resume and contact information.
            </p>
        </div>
    </div>
</div>

