<div class="flex flex-row overflow-hidden h-screen">
    <!--

    <div class="w-32 h-screen  top-0 px-1 flex-col justify-center items-center hidden md:flex" ">

        <a class="text-center w-full text-sm py-4 px-6 h-12 overflow-hidden text-gray-500 text-ellipsis whitespace-nowrap  hover:text-gray-100 hover:bg-gray-400 transition duration-300 ease-in-out" href="#home" data-mdb-ripple="true" data-mdb-ripple-color="dark">
            <div class="rounded-full bg-black h-full ">

            </div>
        </a>
        <a class="text-center w-full text-sm py-4 px-6 h-12 overflow-hidden text-gray-500 text-ellipsis whitespace-nowrap  hover:text-gray-100 hover:bg-gray-400 transition duration-300 ease-in-out" href="#mini_projects" data-mdb-ripple="true" data-mdb-ripple-color="dark">
            Projects
        </a>
        <a class="text-center w-full text-sm py-4 px-6 h-12 overflow-hidden text-gray-500 text-ellipsis whitespace-nowrap  hover:text-gray-100 hover:bg-gray-400 transition duration-300 ease-in-out" href="#contacts" data-mdb-ripple="true" data-mdb-ripple-color="dark">
            Connect
        </a>
        
    </div>
 
    -->
    <div class="overflow-y-scroll w-full scroll-smooth">
        <div class="container mx-auto h-screen" id="home">
            <div class="flex flex-row pt-24 md:pt-56">
                <div class="w-full my-auto hidden lg:block">
                    <h1 class="text-right my-auto text-3xl lg:text-6xl xl:tracking-widerest font-mono font-extralight">rewel</h1>
                    <hr class=" my-auto w-full z-0 mt-8 border-black">
                </div>
                <div class="lg:basis-1/3 mx-auto lg:mx-16 ">
                    <img src="media/me.JPG" class="rounded-full w-32 lg:w-64 border-2 border-slate-900" alt="">
                </div>
                <div class="w-full my-auto hidden lg:block">
                    <h1 class="w-full my-auto text-3xl lg:text-6xl xl:tracking-widerest font-mono  font-extralight ">cabiles</h1>
                    <hr class=" my-auto w-full z-0 border-black mt-8">
                </div>
    
            </div>
                
            <div class="pt-10 md:pt-20 md:container md:px-20 2xl:px-72 px-10 mx-auto">
                <div class="flex w-full mb-10">
                    <p class="text-5xl animate-bounce mx-auto" >&#128075;</p>
                </div>
                <p class="sm:text-2xl font-extralight leading-8 text-justify">
                    Hi I'm Rewel! I am a programmer, tech enthusiast, and student at Adamson University! Welcome to my website where I display all my projects both personal and academic.
                    Here you will also find my updates and blog posts for each project I make, as well as my resume and contact information.
                </p>
                <p class="text-yellow-500 block xl:hidden">
                    Scroll down!
                </p>
            </div>
            <%- include('partials/arrow', {points_to: "#mini_projects", up: false}) %> 
        </div>

        <hr id="mini_projects">
        <div class="container mx-auto">
            <%- include('partials/mini_projects.ejs')  %> 
        </div>
        <hr  id="contacts">
        <div class="container mx-auto">
            <%- include('partials/contacts.ejs')  %> 
        </div>
    </div>       
</div>
