<div class="h-full bg-white gap-4 shadow-md grid grid-cols-1 rounded-md drop-shadow-md border-2 hover:border-slate-500 transition ease-in-out p-10">
    <p class="font-medium text-4xl">March progress report!</p>
    <hr>
    <div class="flex flex-row gap-2">
        <img src="/media/me.JPG" class="rounded-full w-10 h-10" alt="">
        <div class="ml-1">
            <p class="font-semibold">Rewel Cabiles</p>
            <p class="font-light">Date: March 1, 2022</p>
        </div>
    </div>
    <hr>
    <div class="is_markdown md:text-md text-justify text-lg">

Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, ex eligendi expedita incidunt porro iure obcaecati ducimus temporibus dolore tenetur nobis, iusto est? Pariatur quos quibusdam ex, blanditiis iste perferendis.

Lorem ipsum dolor sit amet, consectetur adipiscing elit.
- Lorem Ipsum
- Dolor Sit
- Amet Consectetur


Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati doloremque veniam dignissimos dolorem at, esse fugiat iusto nemo molestias rem? Doloremque tenetur repellat et temporibus autem, dolorum odit fuga repellendus.


![enter image description here](https://picsum.photos/200)
    </div>



</div>